@charset "utf-8";
#header{padding:0;border:none;box-shadow:none;
	h1{margin:0;}
}
#container{padding:20px 15px 100px;}
form fieldset > div {background:#f5f6f7;padding:15px;margin-bottom:30px;
	p:first-child,p:first-child+p{position:relative;padding-left:60px;margin-bottom:3px;}
	p:first-child+p+p{padding:10px 0 15px 60px;
		#save_id+label{margin-right:10px;}
	}
	p:first-child+p+p+p{position:relative;border-top:1px solid #dee2e5;margin:0 -15px;padding:15px 0 0 40px;font-size:12px;
		&:after{content:"";display:block;border-bottom:1px solid #fff;width:100%;position:absolute;top:0;left:0;}
	}
	.ico_f_info:before{content:"\e80a";font-size:13px;color:#000;margin:0 3px 0 -15px;}
	label[for=user_id],label[for=user_pw]{position:absolute;left:0;top:5px;color:#294b8a;font-weight:bold;}
	#user_id,#user_pw{height:26px;line-height:26px;width:100%;}
	&+p{text-align:center;
		input{width:80px;height:35px;font-size:16px;font-weight:bold;color:#294b8a;border:1px solid #294b8a;border-radius:3px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+69,ededed+100 */
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 69%, #ededed 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 69%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 69%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
		}
	}
}